.about-course {
  padding-top: 20px;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Arial", sans-serif;
  color: #333;
  transition: background-color 0.3s ease;
}
.about-course .about-header {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.about-course .about-header h2 {
  font-size: 36px;
  color: #7209b7;
  margin-bottom: 10px;
}
.about-course .about-header p {
  font-size: 16px;
  color: black;
}
.about-course .about-content {
  border-radius: 24px;
  background-color: #333;
  color: white;
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 0.01px rgba(20, 5, 5, 0.1) solid;
  border-radius: 24px;
  box-shadow: 8px 10px rgba(20, 5, 5, 0.137);
}
.about-course .about-content .block-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: white 1px solid;
  padding: 40px;
}
.about-course .about-content .block-list .block-top {
  color: white;
}
.about-course .about-content .block-list .block-bottom {
  width: 128px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  color: black;
  border: 0.01px rgba(20, 5, 5, 0.1) solid;
  background: white;
  border-radius: 16px;
  box-shadow: 2px 4px rgba(245, 244, 244, 0.1);
}
.about-course .about-content .block-list .block-bottom i {
  color: black;
}

.add-course {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.add-course .add-course-header {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.add-course .add-course-header h2 {
  font-size: 36px;
  color: #7209b7;
  margin-bottom: 10px;
}
.add-course .add-course-header p {
  font-size: 16px;
  color: black;
}
.add-course .add-course-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 50px;
  padding-right: 50px;
  gap: 50px;
}
.add-course .add-course-list .add-course-iteam {
  border: 0.01px rgba(20, 5, 5, 0.1) solid;
  background: white;
  border-radius: 24px;
  box-shadow: 8px 10px rgba(20, 5, 5, 0.141);
  width: 420px;
  height: 350px;
  text-align: center;
  transition: transform 0.3s ease;
}
.add-course .add-course-list .add-course-iteam:hover {
  transform: translateY(-10px);
}

.achievements {
  width: 100%;
  height: 60vh;
}
.achievements .achievements-header {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.achievements .achievements-header h2 {
  font-size: 36px;
  color: #7209b7;
  margin-bottom: 10px;
}
.achievements .achievements-header p {
  font-size: 16px;
  color: black;
}
.achievements .achievements-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}
.achievements .achievements-list .achievement-item {
  padding: 40px;
  border: 0.01px rgba(20, 5, 5, 0.1) solid;
  background: white;
  border-radius: 24px;
  box-shadow: 8px 10px rgba(20, 5, 5, 0.141);
  text-align: center;
  width: 420px;
  height: 300px;
  transition: transform 0.3s ease;
}
.achievements .achievements-list .achievement-item .top-achieve {
  margin-bottom: 10px;
}
.achievements .achievements-list .achievement-item .top-achieve img {
  width: 100px;
  height: 100px;
}
.achievements .achievements-list .achievement-item .mid-achieve {
  margin-bottom: 10px;
}
.achievements .achievements-list .achievement-item .mid-achieve h3 {
  font-weight: 800;
  font-size: 24px;
  color: #7209b7;
  margin-bottom: 10px;
}
.achievements .achievements-list .achievement-item .mid-achieve p {
  font-size: 18px;
  color: black;
}
.achievements .achievements-list .achievement-item .bottom-achieve {
  font-size: 14px;
  color: gray;
}
.achievements .achievements-list .achievement-item .bottom-achieve p {
  margin-bottom: 40px;
}
.achievements .achievements-list .achievement-item:hover {
  transform: translateY(-10px);
}

.contact {
  width: 100%;
  height: 80vh;
  background: linear-gradient(120deg, #ff00cc 0%, #333399 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}
.contact .contact-header {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.contact .contact-header h2 {
  font-size: 36px;
  color: black;
  margin-bottom: 10px;
}
.contact .contact-header p {
  font-size: 16px;
  color: black;
}
.contact .contact-form {
  background: white;
  padding: 40px;
  border-radius: 32px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 600px;
  text-align: center;
}
.contact .contact-form h2 {
  margin-bottom: 20px;
  font-size: 28px;
  color: #333;
}
.contact .contact-form input,
.contact .contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}
.contact .contact-form button {
  background: linear-gradient(120deg, #ff00cc 0%, #333399 100%);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.contact .contact-form button:hover {
  background: linear-gradient(120deg, #ff00cc 0%, #333399 100%);
}

.course {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.course .course-header {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.course .course-header h2 {
  font-size: 36px;
  color: #7209b7;
  margin-bottom: 10px;
}
.course .course-header p {
  font-size: 16px;
  color: black;
}
.course .course-list {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}
.course .course-list .course-item {
  border: 0.01px rgba(20, 5, 5, 0.1) solid;
  background: white;
  border-radius: 24px;
  box-shadow: 8px 10px rgba(20, 5, 5, 0.141);
  width: 648px;
  height: 350px;
  text-align: center;
  transition: transform 0.3s ease;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.course .course-list .course-item .course-item-info {
  padding: 40px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.course .course-list .course-item .course-item-info .item-info-top h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}
.course .course-list .course-item .course-item-info .item-info-top p {
  font-size: 16px;
  color: #777;
}
.course .course-list .course-item .course-item-info .item-info-bottom {
  width: 128px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  color: black;
  border: 0.01px rgba(20, 5, 5, 0.1) solid;
  background: white;
  border-radius: 16px;
  box-shadow: 2px 4px rgba(57, 57, 58, 0.305);
}
.course .course-list .course-item .course-item-img {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.course .course-list .course-item .course-item-img img {
  width: 80%;
  height: 80%;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.course .course-list .course-item:hover {
  transform: translateY(-10px);
}

.home {
  width: 100%;
  height: 80px;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.177);
}
.home .header {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.home .header .nav {
  width: 100%;
  height: 100%;
}
.home .header .nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.home .header .nav ul li a {
  font-size: 18px;
  text-decoration: none;
  position: relative;
  background: linear-gradient(120deg, #ff00cc 0%, #333399 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.1em;
  background-position: 0 100%;
  transition: background-size 0.01s ease-in;
}
.home .header .nav ul li a:hover {
  background-size: 100% 100%;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 88vh;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://techbrainism.com/wp-content/uploads/2021/05/online-course-main-800x549-1.png);
  background-size: cover;
  background-position: center;
}
.hero .hero-content {
  margin: 0 auto;
}
.hero .hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.hero .hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.hero .btn {
  background-color: white;
  color: #513a3a;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.hero .btn:hover {
  color: white;
  background-color: rgb(83.71875, 6.609375, 134.390625);
}

.map {
  width: 100%;
  height: 50vh;
}
.map .map-header {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.map .map-header h2 {
  font-size: 36px;
  color: #7209b7;
  margin-bottom: 10px;
}
.map .map-header p {
  font-size: 16px;
  color: black;
}
.map .map-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.map .map-content iframe {
  width: 90%;
  height: 100%;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mentor {
  padding: 100px 0;
  margin-top: 100px;
  background: #f9f9f9;
}
.mentor .mentor-header {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.mentor .mentor-header h2 {
  font-size: 36px;
  color: #7209b7;
  margin-bottom: 10px;
}
.mentor .mentor-header p {
  font-size: 16px;
  color: black;
}
.mentor .mentor-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 50px;
  padding-right: 50px;
  gap: 50px;
}
.mentor .mentor-list .mentor-item {
  border: 0.01px rgba(20, 5, 5, 0.1) solid;
  background: white;
  border-radius: 24px;
  box-shadow: 8px 10px rgba(20, 5, 5, 0.141);
  width: 420px;
  height: 350px;
  text-align: center;
  padding: 40px;
  transition: transform 0.3s ease;
}
.mentor .mentor-list .mentor-item h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 5px;
}
.mentor .mentor-list .mentor-item p {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}
.mentor .mentor-list .mentor-item .social-links a {
  margin: 0 10px;
  color: #777;
  font-size: 18px;
  transition: color 0.3s ease;
}
.mentor .mentor-list .mentor-item .social-links a a:hover {
  color: #333;
}
.mentor .mentor-list .mentor-item .menter-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  border-bottom: #333 solid 0.5px;
}
.mentor .mentor-list .mentor-item .menter-top .top-img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  margin-bottom: 15px;
}
.mentor .mentor-list .mentor-item .menter-top .top-desc {
  padding-top: 32px;
  text-align: left;
  margin-left: 10px;
}
.mentor .mentor-list .mentor-item .menter-top .top-desc h4 {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
}
.mentor .mentor-list .mentor-item .menter-top .top-desc p {
  font-size: 14px;
  color: #777;
}
.mentor .mentor-list .mentor-item .menter-top .top-icon i {
  color: white;
  padding: 10px;
  background-color: #555;
  border-radius: 24px;
}
.mentor .mentor-list .mentor-item .menter-midle p {
  font-size: 14px;
  color: #555;
  margin-top: 32px;
  margin-bottom: 15px;
}
.mentor .mentor-list .mentor-item .menter-bottom .btn {
  margin-top: 32px;
  padding: 10px 20px;
  background-color: #7209b7;
  color: white;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.mentor .mentor-list .mentor-item .menter-bottom .btn:hover {
  background-color: #5900a3;
}
.mentor .mentor-list .mentor-item:hover {
  transform: translateY(-10px);
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 50px;
  margin-top: 100px;
}
.footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer .footer-content .footer-content p {
  margin: 5px 0;
  font-size: 14px;
}
.footer .social-links a {
  color: white;
  margin: 0 10px;
  font-size: 18px;
  transition: color 0.3s ease;
}
.footer .social-links a:hover {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #f9f9f9;
}/*# sourceMappingURL=style.css.map */