.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 50px;
    margin-top: 100px;

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .footer-left {
            font-size: 18px;
            color: white;
        }

        .midle-footer {
            border-right: white 2px solid;

            ul {
                padding-right: 10px;
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;

                li {
                    a {
                        color: white;
                        transition: color 0.3s ease;
                        text-decoration: none;
                    }

                    a:hover {
                        color: #7209b7;
                    }
                }
            }

        }

        .footer-right {
            border-right: white 2px solid;

            ul {
                padding-right: 10px;
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;

                li {
                    a {
                        color: white;
                        transition: color 0.3s ease;
                        text-decoration: none;
                    }

                    a:hover {
                        color: #7209b7;
                    }
                }
            }
        }

        .social-media {
            ul {
                list-style: none;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 20px;

                li {
                    a {
                        text-align: center;
                        color: white;
                        transition: color 0.3s ease;
                        text-decoration: none;
                    }

                    a:hover {
                        color: #7209b7;
                    }
                }
            }
        }
    }
}


@media (min-width: 769px) and (max-width: 1024px) {
    .footer {
        padding: 40px;
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .footer-right {
            display: none;
        }

        .midle-footer {
            display: none;
        }

        .social-media {
            padding-right: 20px;
            padding-right: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

@media (min-width: 360px) and (max-width: 768px) {
    .footer {
        padding: 20px;
        margin-top: 100px;

        .footer-right {
            display: none;
        }

        .midle-footer {
            display: none;
        }

        .footer-left {
            display: none;
        }

        .social-media {
            padding-left: 20px;
            padding-right: 20px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}